1. Einstieg

In [1]:
print("Hallo, Welt!")
string_1 = "Hello "
string_2 = "World!"
print(string_1 + string_2)

result = (string_1 + string_2 + " ") * 4
print(result)

product = 4 * 4
quotient = 32 / 4
# bad = 32 / 0            # ZeroDivisionError: division by zero


a = 4
b = 0
try:
    result = a/b
except ZeroDivisionError:
    result="durch null"

print(result)


print(product)
print(quotient)

Hallo, Welt!
Hello World!
Hello World! Hello World! Hello World! Hello World!
durch null
16
8.0

2. If- Abfragen

In [ ]:
numbers = [357,867,529]
sorted_numbers = sorted(numbers)
sorted_numbers = max(numbers)       #bestimmt die grösste Zahl
print(sorted_numbers)


year = 2008

def ist_schaltjahr(year):

    durch_4_teilbar = year % 4 == 0

    durch_100_teilbar = year % 100 == 0

    durch_400_teilbar = year % 400 == 0

    ist_schaltjahr = (durch_4_teilbar and not durch_100_teilbar) or durch_400_teilbar

    return ist_schaltjahr

# Beispiel
if ist_schaltjahr(year):
    print(f"{year} ist ein Schaltjahr.")
else:
    print(f"{year} ist kein Schaltjahr.")

3. Wetterbericht

In [ ]:
def temp_result(temperature):
    grösser_als_25 = temperature > 25
    kleiner_als_25 = 15 < temperature <= 25
    kleiner_als_15 = temperature <= 15

    if grösser_als_25:
        return "Es ist warm"
    elif kleiner_als_25:
        return "Es ist mild"
    elif kleiner_als_15:
        return "Es ist kalt"
    else:
        return "Es ist ein ungewöhnliches Wetter"

#Ergebnis
temperature = int(input("Bitte gib die Temperatur ein: "))
result = temp_result(temperature)
print(result)

4. Listen kombinieren

In [ ]:
list_1 = [3,8,9,5]
list_2 = [4,7,2,1]

list_total = list_1 + list_2
print("Beide Listen:", list_total)


index = list_1.index(9)
print("Ergebnis", index)